<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/navbarPartial.ejs"); %>
            <h1>Edit Car Page</h1>
            <form action="/admin/<%= car._id %>?_method=PUT" method="POST">
                <input type="text" name="manufacturer" placeholder="Make" value="<%=car.manufacturer%>" />
                <input type="text" name="country" placeholder="country" value="<%=car.country%>" />
                <input type="text" name="model" placeholder="model" value="<%=car.model%>" />
                <input type="text" name="year" placeholder="year" value="<%=car.year%>" />
                <input type="submit" value="Update Car" />
            </form>
            </form>
    </body>

    </html>