<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/navbarPartial.ejs"); %>
            <h1>Show page</h1>
            <main>
                <section class="car-show-card">
                    <img class="car-show-img" src="<%=car.img %>" alt="">
                    <div>
                        <ul class="car-show-info">

                            <li>Model: <%= car.model %>
                            </li>
                            <li>Manufacturer: <%= car.manufacturer %>
                            </li>
                            <li>Country of Origin: <%= car.country %>
                            </li>
                            <li>Year: <%=car.year%>
                            </li>

                        </ul>
                    </div>
                </section>
                <form action="/garage/<%=car._id%>?_method=PUT" method="POST">
                    <input type="submit" value="Remove From Garage">
                </form>
            </main>
    </body>


    </html>