<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/navbarPartial.ejs"); %>
            <main>
                <h2 class="header-show">Car Info</h2>

                <section class="car-show-card">
                    <img class="car-show-img" src="<%=car.img %>" alt="">
                    <div>
                        <ul class="car-show-info">

                            <li>Model: <%= car.model %>
                            </li>
                            <li>Manufacturer: <%= car.manufacturer %>
                            </li>
                            <li>Country of Origin: <%= car.country %>
                            </li>
                            <li>Year: <%=car.year%>
                            </li>
                            <li>
                                <form action="/garage/<%=car._id%>?_method=PUT" method="POST">
                                    <input class="btn btn-removecar" type="submit" value="Remove From Garage">
                                </form>


            </main>
    </body>


    </html>