<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <!--Navigation bar-->
        <%- include ("../partials/navbarPartial.ejs"); %>

            <h2 class="header-garage">Your Garage</h2>
            <section class="gallery">
                <% if(!cars.length) {%>
                    <p class="no-car-text">Select By Make, Country, or Year!</p>
                    <img class="no-car-display"
                        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b8280a67086875.5b2f9fde700fd.gif">
                    <% } %>
                        <% cars.forEach(car=> { %>
                            <a class="card" href="/garage/<%=car._id%>">
                                <div class="card_manfufacturer">
                                    Make: <%= car.manufacturer%>
                                </div>
                                <div class="card_model">
                                    Model: <%= car.model%>
                                </div>
                                <div class="card_year">
                                    Year: <%= car.year%>
                                </div>
                                <div class="card_country">
                                    Country of Origin: <%= car.country%>
                                </div>
                                <div>
                                    <img class="image-car" src="<%= car.img %>" alt="">
                                </div>
                            </a>
                            <% }) %>
            </section>
    </body>

    </html>