<%- include ("../partials/headerpartial.ejs"); %>

    <body>

        <h1>CarBank</h1>
        <%- include ("../partials/navbarPartial.ejs"); %>
            <h3>Welcome</h3>

            </div>
            <main>
                <Section class="section-select-car">
                    <form class="form-select-car" action="" method="GET">
                        <label for="car-select">Filter By Manufacturer:</label>

                        <select class="select-car" name="manufacturer" id="" onchange="this.form.submit()">
                            <option value="">choose A Manufacturer</option>
                            <option value="Ford">Ford</option>
                            <option value="Buick">Buick</option>
                            <option value="Chevrolet">Chevrolet</option>
                            <option value="Dodge">Dodge</option>
                            <option value="Lamborghini">Lamborghini</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                            <option value="Porsche">Porsche</option>
                            <option value="Jaguar">Jaguar</option>
                            <option value="Honda">Honda</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Toyota">Toyota</option>
                        </select>
                    </form>
                    <form class="form-select-car" action="" method="GET">
                        <label for="car-select">Filter By Country:</label>

                        <select class="select-car" name="country" id="" onchange="this.form.submit()">
                            <option value="">choose by country</option>
                            <option value="USA">USA</option>
                            <option value="Italy">Italy</option>
                            <option value="UK">UK</option>
                            <option value="Germany">Germany</i></option>
                            <option value="Japan">Japan</option>
                        </select>
                    </form>
                    <form class="form-select-car" action="" method="GET">
                        <label for="car-select">Filter By Decade:</label>

                        <select class="select-car" name="year" id="" onchange="this.form.submit()">
                            <option value="">Choose A Decade:</option>
                            <option value="195">1950s</option>
                            <option value="196">1960s</option>
                            <option value="197">1970s</option>
                            <option value="198">1980s</option>
                            <option value="199">1990s</option>
                            <option value="200">2000s</option>
                            <option value="201">2010s</option>
                            <option value="202">2020s</option>
                        </select>
                    </form>
                </Section>
                <section class="gallery">
                    <% if(!cars.length) {%>
                        <p>Select By Make, Country, or Year!</p>
                        <% } %>
                            <% cars.forEach(car=> { %>

                                <a class="card" href="/site/<%=car._id%>">
                                    <div class="card_manfufacturer">
                                        <u>Make:</u>
                                        <%= car.manufacturer%>
                                    </div>
                                    <div class="card_model">
                                        <u>Model</u>: <%= car.model%>
                                    </div>
                                    <div class="card_year">
                                        <u>Year</u>: <%= car.year%>
                                    </div>
                                    <div class="card_country">
                                        <u>Country of Origin</u>: <%= car.country%>
                                    </div>
                                    <div>
                                        <img class="image-car" src="<%= car.img %>" alt="">
                                    </div>
                                </a>
                                <% }) %>
                </section>
            </main>
    </body>


    </html>