<%- include ("../partials/headerpartial.ejs"); %>

    <body>

        <h1>CarBank</h1>
        <%- include ("../partials/navbarPartial.ejs"); %>


            <form action="/logout?_method=DELETE" method="POST">

            </form>
            <h3>Welcome</h3>
            <main>
                <form action="" method="GET">
                    <label for="car-select">filter by manufacturer:</label>

                    <select name="manufacturer" id="">
                        <option value="">choose a manufacturer</option>
                        <option value="Ford">Ford</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="Dodge">Dodge</option>
                        <option value="Lamborghini">Lamborghini</option>
                        <option value="Audi">Audi</option>
                        <option value="BMW">BMW</option>
                        <option value="Porsche">Porsche</option>
                        <option value="Jaguar">Jaguar</option>
                        <option value="Honda">Honda</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Toyota">Toyota</option>
                    </select>
                    <input type="submit" value="filter" />
                </form>
                <form action="" method="GET">
                    <label for="car-select">filter by country:</label>

                    <select name="country" id="">
                        <option value="">choose by country</option>
                        <option value="USA">USA<i class="flag flag-united-states"></i></option>
                        <option value="Italy">Italy</option>
                        <option value="UK">UK</option>
                        <option value="Germany">Germany</option>
                        <option value="Japan">Japan</option>
                    </select>
                    <input type="submit" value="filter" />
                </form>
                <form action="" method="GET">
                    <label for="car-select">filter by country:</label>
                    <select class="selectpicker countrypicker"
                        data-countries="AT,BE,BG,HR,CY,CZ,DK,EE,FI,FR,DE,GR,HU,IE,IT,LV,LT,LU,MT,NL,PL,PT,RO,SK,SI,ES,SE"></select>
                    <input type="submit" value="filter" />
                </form>
                <form action="" method="GET">
                    <label for="car-select">filter by Decade:</label>

                    <select name="year" id="">
                        <option value="">choose a decade:</option>
                        <option value="195">1950s</option>
                        <option value="196">1960s</option>
                        <option value="197">1970s</option>
                        <option value="198">1980s</option>
                        <option value="199">1990s</option>
                        <option value="200">2000s</option>
                        <option value="201">2010s</option>
                        <option value="202">2020s</option>
                    </select>
                    <input type="submit" value="filter" />
                </form>
                <ul>
                    <% cars.forEach(car=> { %>
                        <li>
                            <a href="/site/<%=car._id%>">
                                <%= car.manufacturer %>
                                    <%= car.model %>
                                        <%= car.country %>
                            </a>
                        </li>
                        <% })%>
                </ul>
            </main>

    </body>
    </body>

    </html>